@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .list-dot:before {
      content: '• ';
      display: inline;
    }
  }

  /* .ellipse-overlay::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background: radial-gradient(circle at center, transparent 0%, #ffffff 100%);
    z-index: 1;
  } */
  .bg-img {
    transform: scaleX(-1);
    background-position: center -150px;
  }

  .ellipse-clip {
    mask-image: url('src/static/img/mask.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    
  }