@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .list-dot:before {
      content: '• ';
      display: inline;
    }
  }

  @font-face {
    font-family: 'Sports-Night';
    src: url('../fonts/sports-night.ttf') format('truetype'),
         url('../fonts/sports-night.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }



  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .ellipse-clip {
    mask-image: url('src/static/img/mask.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    
  }

  .stairs-clip {
    clip-path: polygon(
      0 0, 
      15% 0, /* Right to the end of the stairs on the left */
      15% 5%, 
      10% 5%, /* First step */
      10% 10%, 
      5% 10%, /* Second step */
      5% 15%, 
      0 15%, /* Third step */
      0 100%, /* Down to the bottom left corner */
      100% 100%, /* Straight to the bottom right corner */
      100% 15%, /* Up to the start of the third step on the right */
      95% 15%, 
      95% 10%, /* Second step on the right */
      90% 10%, 
      90% 5%, /* First step on the right */
      85% 5%, 
      85% 0, /* Back to the top edge */
      100% 0 /* To the top right corner */
    );
  }


  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: fadeOut 6s forwards;
    animation-delay: 1s;
    user-select: none;
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .loading-icon {
    width: 10rem; /* Adjust size as needed */
  }